.input-form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
}

main {
    margin: 40px;
    border: 5px solid black;
}

h2 {
    display: flex;
    justify-content: center;
}

label {
    height: 37px;

}

.input-height {
    width: 100%;
    height: 37px;
}

.pName, .plastName, .pID, .pPhone, .pAddress, .pCity,  .pMail,
 .pZip, .pPassword, .pPassword2 {
    display: none;
}

.name {
    height: 37px;
    width: 95%;
}


.pair-input {
    padding: 10px;
}

.confirm-pass {
    padding: 3%;
}

.form-submit {
    padding-left: 3.5%;
}

@media screen and (min-width: 479px){
    .pair-input {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .input-form {
        width: 95%;
        padding: 2%;
    }

    .confirm-pass {
        width: 47%;
        padding-left: 1.5%;
    }

}
    