.input-form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 20px 40px 20px 20px;
    border-radius: 5px;
    width: 100%;
}

label {
    height: 37px;
}

.input-height {
    width: 95%;
    height: 37px;
}

.pName, .plastName, .pID, .pPhone, .pAddress, .pCity, .pZip, p.pPassword, .pPassword2 {
    display: none;
}

.name {
    height: 37px;
    width: 95%;
}

@media screen and (min-width: 479px){
    .pair-input {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
    