/* header */

header {
    top: 0;
    position: sticky;
    background-color: #373867;
    width: 100%;
    height: 51px;
    padding: 13px 0;
}



.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;

}

.header-title {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    justify-content: center;
}

@media screen and (min-width: 769) {
    header {
        width: 100%;
    }

    .sidebar-menu {
        display: none;
    }
}

/* main */

main {
    padding-left: 20px;
    padding-right: 20px;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: left;
    align-items: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
}

main {
    margin: 40px;
    border: 5px solid black;
}

h2 {
    display: flex;
    justify-content: center;
}

label {
    height: 37px;
}

.input-height {
    width: 100%;
    height: 37px;
}

.pMail, .pPassword {
    display: none;
}


/* footer */

footer {
    margin: 0 0 0 20px;
    padding-right: 20px;
}

.footer-img {
    display: flex;
    justify-content: space-around;
    padding: 0 px;
}

.address-01 {
    text-align: center;
    margin: 20px 0;
}


.location>div:nth-of-type(2) {
    align-self: center;
}

.copyright-item {
    max-width: 250px;
    text-align: center;
}

.div-line1 {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #AACE9B;
    margin-bottom: 20px;
}


@media screen and (max-width: 479px) {
    .location {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 480px) {

    .footer-img {
        justify-content: flex-start;
    }

    .footer-img, .socialmedia-icon {
        padding-right: 20px;
    }

    .address-01 {
        margin: 20px 0 0 0;
    }

    /* .location {
        text-align: left;
    } */

    .address-01 {
        text-align: left;
    }

    .location>div:nth-of-type(2) {
        align-content: left;
    }

}

@media screen and (min-width: 769px) {
    footer {
        height: 50px;
        margin: 40px;
    }
    .address {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer-img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 254px;
    }

    .address-01 {
        display: flex;
        justify-content: end;
    }

    .copyright-item {
        max-width: 100%;
        display: flex;
        justify-content: end;
        align-content: flex-end;
    }
}

