main {
    padding-left: 20px;
    padding-right: 20px;
}

.input-mail {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 5px;
}

label {
    margin: 5px 0 5px 0;
    font-weight: bold;
}

.input-height, .radio-button {
    height: 37px;
}

.login {
    width: 84px;
    height: 34px;
    background-color: #AACE9B;
    border: none;
}

.reset {
    width: 84px;
    height: 34px;
}

@media screen and (min-width: 481px) {

    .get-section01, .get-section02 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .input-name, .input-mail, .input-area, .input-priority {
        width: 45%;
        border-radius: 10px;
    }
}

