<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../styles/styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../styles/header.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../styles/employee-signup.css'>
    <link rel='html' type='html' media='screen' href='../views/index.html'>
    <title>Trackgenix SA Employee Signup</title>
</head>
<body>
    <header>
        <div class="header-container">
            <a href="../views/index.html"><img src="../assets/icons/trackgenix-logo.png" alt="Trackgenix" width="50px"></a>
            <h1 class="header-title">
                Trackgenix SA
            </h1>
            <img class="sidebar-menu" src="../assets/icons/sidebar-icon.png" alt="sidebar-menu">
        </div>
    </header>
    <main>
        <h2>Sign Up</h2>
        <form id="formSignUp" action="/my-handling-form-page" onsubmit = handleOnSubmit()>
            <div class="get-section01">
                <div class="pair-input">
                    <div class="input-form">
                        <label for="firstName">
                            First name:
                        </label>
                        <input id="name" class="input-height" type="text" placeholder="John" onfocus="verifyFirstName()" onblur="firstNameInput()">
                        <p id="errorName" class="pName">Invalid value</p>
                    </div>
                    <div class="input-form">
                        <label for="lastName">
                            Last name:
                        </label>
                        <input id="lastName" class="input-height" type="text" placeholder="Doe" onfocus="verifyLastName()" onblur="lastNameInput()">
                        <p id="errorlastMessage" class="plastName">Invalid value</p>
                    </div>
                </div>
                <div class="pair-input">
                    <div class="input-form">
                        <label for="IdName">
                            Id number:
                        </label>
                        <input id="identNumber" class="input-height" type="number" onfocus="verifyIDNumber()" onblur="idNumber()">
                        <p id="errorID" class="pID">Invalid value</p>
                    </div>
                    <div class="input-form">
                        <label for="IdName">
                            Date of birth:
                        </label>
                        <input id="dateOfBirth" class="input-height" type="date" onfocus="verifyDate()" onblur="checkDOB()">
                        <p id="errorDate" class="pDate">You must be over 18 years old</p>
                    </div>
                </div>
                <div class="pair-input">
                    <div class="input-form">
                        <label for="TelephoneNumber">
                            Telephone number:
                        </label>
                        <input id="phone" class="input-height" type="number" onfocus="verifyPhone()" onblur="phoneNumber()">
                        <p id="errorPhone" class="pPhone">Invalid value</p>
                    </div>
                    <div class="input-form">
                        <label for="Address">
                            Address:
                        </label>
                        <input id="address" class="input-height" type="text" onfocus="verifyAddress()" onblur="addressInput()">
                        <p id="errorAddress" class="pAddress">Invalid value</p>
                    </div>
                </div>
                <div class="pair-input">
                    <div class="input-form">
                        <label for="City">
                            City:
                        </label>
                        <input id="cityName" class="input-height" type="text" onfocus="verifyCity()" onblur="cityInput()">
                        <p id="errorCity" class="pCity">Invalid value</p>
                    </div>
                    <div class="input-form">
                        <label for="ZipCode">
                            Zip Code:
                        </label>
                        <input id="zipCode" class="input-height" type="number" onfocus="verifyZip()" onblur="zipCodeCity()">
                        <p id="errorZip" class="pZip">Invalid value</p>
                    </div>
                </div>
                <div class="pair-input">
                    <div class="input-form">
                        <label for="Email">
                            Email:
                        </label>
                        <input id="email" class="input-height" type="email" onfocus="verifyMail()" onblur="eMail()">
                        <p id="errorMail" class="pMail">Invalid value</p>
                    </div>
                    <div class="input-form">
                        <label for="Password">
                            Password:
                        </label>
                        <input id="password" class="input-height" type="password" onfocus="verifyPassword()" onblur="password1()">
                        <p id="errorPassword" class="pPassword">Invalid value</p>
                    </div>
                </div>
                    <div class="input-form">
                        <div class="confirm-pass">
                        <label for="Password">
                            Confirm password:
                        </label>
                        <input id="confirmPassword" class="input-height" type="password" onfocus="verifyConfirm()" onblur="confirmPassword2()">
                        <p id="errorPassword2" class="pPassword2">Invalid value</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-submit">
                <button class="signUp" id="signUp">Create</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="div-line1"></div>
        <div class="address">
            <div class="footer-img">
                <a class="socialmedia-icon" href="https:/www.linkedin.com">
                    <img src="../assets/icons/linkedin-logo.png" alt="LinkedIn" width="30px"></a>
                <a class="socialmedia-icon" href="https:/www.twitter.com">
                    <img src="../assets/icons/twitter-logo.png" alt="Twitter" width="30px"></a>
                <a class="socialmedia-icon" href="https:/www.facebook.com">
                    <img src="../assets/icons/fb-logo.png" alt="Facebook" width="20px"></a>
                <a class="socialmedia-icon" href="https:/www.instagram.com">
                    <img src="../assets/icons/instagram-logo.png" alt="Instagram" width="30px"></a>
                <a class="socialmedia-icon" href="https:/www.github.com">
                    <img src="../assets/icons/github-logo.png" alt="GitHub" width="30px">
                </a>
            </div>
            <div class="location">
                <div>
                    <p class="address-01">Rosario, Argentina</p>
                </div>
                <div class="copyright-item">
                    <p class="address-01">Copyright © 2022 Radium Rocket. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../javascript/employee-signup.js"></script>
</body>
</html>