<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Trackgenix SA</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href='../styles/reset.css'>
        <link rel='stylesheet' type='text/css' media='screen' href='../styles/styles.css'>
        <link rel='stylesheet' type='text/css' media='screen' href='../styles/header.css'>
        <link rel='stylesheet' type='text/css' media='screen' href='../styles/sidebar.css'>
        <link rel='stylesheet' type='text/css' media='screen' href='../styles/main.css'>
        <link rel='stylesheet' type='text/css' media='screen' href='../styles/footer.css'>
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <header>
            <div class="header-container">
                <img src="../assets/icons/trackgenix-logo.png" alt="Trackgenix" width="50px">
                <h1 class="header-title">
                    Trackgenix SA
                </h1>
                <img class="sidebar-menu" src="../assets/icons/sidebar-icon.png" alt="sidebar-menu">
            </div>
        </header>
        <div class="aside-main">
            <aside>
                <div class="aside-bar">
                    <span>Menu</span>
                    <div class="span-line"></div>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                            <div class="span-subline"></div>
                            </div>
                        </li>
                        <li>
                            <a href="#">Sign Up</a>
                            <div class="span-subline"></div>
                        </li>
                        <li>
                            <a href="#">Login</a>
                            <div class="span-subline"></div>
                        </li>
                        <li>
                            <span>Contact us</span>
                            <ul>
                                <li class="box-contact">
                                    <img src="../assets/Icon-2.png" alt="mail">
                                    <a class="contact-p" href="#">contact@trackgenix.com</a>
                                </li>
                                <li class="box-contact">
                                    <img src="../assets/Icon-1.png" alt="phone">
                                    <p class="contact-p">(000) 000-0000</p>
                                </li>
                                <li class="box-contact">
                                    <img class="street-house" src="../assets/Icon.png" alt="street">
                                    <div class="contact-p">
                                        <p>1234 Somewhere Road</p>
                                        <p>#8254 Nashville,TN</p>
                                        <p>00000-000</p> 
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </aside>
            <main>
                <section>
                    <div class="main-section">
                        <img class="main-photo" src="../assets/images/manage-teams.jpg">
                        <div class="main-text">
                            <h2>Manage your hours and teams with ease</h2>
                            <h3 class="sub-title">Use Trackgenix to track time, make decisions and upgrade your productivity</h3>
                            <p class="main-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita eligendi id exercitationem 
                                ducimus, ea, ad aut dolore eveniet pariatur eius quibusdam maiores. Deleniti dolor recusandae aliquam exercitationem 
                                error aliquid aut.
                            </p>
                            <button>Learn more</button>
                        </div>
                    </div>
                </section>
                <div class="div-line"></div>
                <section>
                    <h2>Functionalities</h2>
                    <div class="underline-funct"></div>
                    <div class="funct-section">
                        <div class="funct-pair01">
                            <article>
                                <img class="funct-img" src="../assets/icons/calendar-logo.png" width="140px">
                                <div class="funct-text">
                                    <h3 class="article-text">Time Tracking</h3>
                                    <p class="article-subtext">
                                        Donec mi nisi, pretium vel tincidunt vel, egestas nec augue. Praesent et ultrices mauris.
                                    </p>
                                </div>
                            </article>
                            <article>
                                <img class="funct-img" src="../assets/icons/multiple-roles.png" width="140px">
                                <div class="funct-text">
                                    <h3 class="article-text">Multiple Roles</h3>
                                    <p class="article-subtext">
                                        Vestibulum augue sem, aliquet at mollis quis, dignissim non velit. Nullam vitae sollicitudin nisl.
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="funct-pair02">
                            <article>
                                <img class="funct-img" src="../assets/icons/Reports.png" width="140px"> 
                                <div class="funct-text">
                                    <h3 class="article-text">Reports</h3>
                                    <p class="article-subtext">
                                        Donec mi nisi, pretium vel tincidunt vel, egestas nec augue. Praesent et ultrices mauris.
                                    </p>
                                </div>
                            </article>
                            <article>
                                <img class="funct-img" src="../assets/icons/resource-management.png" width="140px">
                                <div class="funct-text">
                                    <h3 class="article-text">Resource management</h3>
                                    <p class="article-subtext">
                                        Vestibulum augue sem, aliquet at mollis quis, dignissim non velit. Nullam vitae sollicitudin nisl.
                                    </p>
                                </div> 
                            </article>
                        </div>
                    </div>
                </section>
                <div class="div-line"></div>
                <div></div>
                <section>
                    <h2>Why does this mean an improvement in your work</h2>
                    <div class="underline-improv"></div>
                        <article>
                            <div class="improv-card">
                                <img class="img-improv" alt="Productivity image" src="../assets/images/productivity-bosster.webp">
                                <h3>Productivity booster</h3>
                                <p class="improv-paragraph">Cras blandit vehicula eros, id dapibus lacus tristique ac. Nam dapibus purus semper, tincidunt massa sit amet, 
                                euismod metus.
                                </p>
                                <button class="button-improv">More</button>
                            </div>
                            <div class="improv-card">
                                <img class="img-improv" alt="Leadership image" src="../assets/images/Leadership.jpeg">
                                <h3>Leadership and team management</h3>
                                <p class="improv-paragraph">Cras blandit vehicula eros, id dapibus lacus tristique ac. Nam dapibus purus semper, tincidunt massa sit amet, 
                                    euismod metus.
                                </p>
                                <button class="button-improv">More</button>
                            </div>
                        </article>
                        <article>
                            <div class="improv-card">
                                <img class="img-improv" alt="Traceability image" src="../assets/images/work-traceability.jpeg">
                                <h3>Work traceability</h3>
                                <p class="improv-paragraph">Cras blandit vehicula eros, id dapibus lacus tristique ac. Nam dapibus purus semper, tincidunt massa sit amet, 
                                    euismod metus.
                                </p>
                                <button class="button-improv">More</button>
                            </div>
                            <div class="improv-card">
                                <img class="img-improv" alt="Decision making image" src="../assets/images/decision-making.webp">
                                <h3>Decision making</h3>
                                <p class="improv-paragraph">Cras blandit vehicula eros, id dapibus lacus tristique ac. Nam dapibus purus semper, tincidunt massa sit amet, 
                                    euismod metus.</p>
                                <button class="button-improv">More</button>
                            </div>
                        </article>
                </section>
                <div class="div-line"></div>
                <div></div>
                <section>
                    <h2>
                        Get in touch with us
                    </h2>
                    <div class="underline-getin"></div>
                    <form>
                        <div class="get-section01">
                            <div class="input-name">
                                <label for="name">
                                    Full Name:
                                </label>
                                <input class="input-height" type="text" value="John Doe" name="user_name">
                            </div>
                            <div class="input-mail">
                                <label for="mail">
                                    Email Adress:
                                </label>
                                <input class="input-height" id="mail" type="email" name="user_mail">
                            </div>
                        </div>
                        <div class="get-section02"> 
                            <div class="input-area">
                                <label for="area">
                                    Choose a Department:
                                </label>
                                <select class="input-height" id="area" name="area">                                
                                    <option value="area">
                                        Human Resources
                                    </option>
                                    <option value="area">
                                        Systems
                                    </option>
                                    <option value="area">
                                        Commercialization
                                    </option>
                                </select>
                            </div>
                            <div class="input-priority">
                                <label for="option">
                                    Priority:
                                </label>
                                <div class="radio-button">
                                    <div class="radio-pair">
                                        <input type="radio" name="interest" value="negative" checked> Low
                                    </div>
                                    <div class="radio-pair">
                                        <input type="radio" name="interest" value="neutral"> Medium
                                    </div>
                                    <div class="radio-pair">
                                        <input type="radio" name="interest" value="positive"> High
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-askbout">
                            <label for="msg">
                                Ask about our system:
                            </label>
                            <textarea id="msg" name="user-message"></textarea>
                        </div>
                        <div class="option-button">
                            <div class="check-box">
                                <input type="checkbox" name="condition">
                                <label for="condition">
                                    I am not a robot
                                </label>
                            </div>
                            <div class="check-box">
                                <input type="checkbox" name="copy">
                                <label for="send">
                                    Send me a copy
                                </label>
                            </div>
                        </div>
                        <div class="element-pair">
                            <button class="submit">Submit</button>
                            <button class="reset">Reset</button>
                        </div>
                    </form>
                </section>
                <div class="div-line"></div>
                <section>
                    <div>
                        <h2>Our Story</h2>
                        <div class="underline-story"></div>
                        <p>Donec eu diam convallis, condimentum enim non, dictum magna. Integer quis orci ullamcorper, mattis lacus sed, 
                            porttitor velit. Vivamus enim ipsum, faucibus a mi vel, condimentum lacinia libero. Phasellus dignissim dui id
                            lacinia posuere. Donec eleifend vehicula elit et finibus. Phasellus ultrices finibus eros. Nullam pretium quam
                            cursus vestibulum efficitur. Cras quis volutpat neque. Maecenas non faucibus metus. Donec in est et nibh 
                            tempus pellentesque. Fusce in ante congue, tincidunt mauris ut, commodo magna. Aenean id arcu ac metus 
                            malesuada hendrerit quis ultrices diam. Pellentesque rhoncus porta interdum. Morbi lectus dui, porta et 
                            tortor ac, pharetra auctor elit.
                            Maecenas ac bibendum lacus. Nunc scelerisque ante vitae ante pulvinar vulputate. Cras id posuere dolor. Praesent
                            id sollicitudin tortor. Nullam ac tristique elit. Proin imperdiet ultricies nunc, nec consequat nisi aliquam ut.
                            Praesent at est nisl. Ut nec metus sed dolor cursus imperdiet eget non erat. Donec vel maximus tortor. Donec 
                            gravida sollicitudin metus, ut porttitor nisl scelerisque nec. Aenean eu consequat felis.
                        </p>
                    </div>
                </section>
                <div class="div-line"></div>
                <section class="nav-proper">
                    <div class="nav-menu">
                    <span class="nav-title">Products</span>
                        <ol>
                            <li>Functionalities</li>
                            <li>Downloads</li>
                            <li>Integrations</li>
                            <li>Extras</li>
                        </ol>
                    </div>
                    <div class="nav-menu">
                    <span class="nav-title">Company</span>
                        <ol>
                            <li>About us</li>
                            <li>Clients</li>
                            <li>Resources</li>
                            <li>Blog</li>
                        </ol>
                    </div> 
                    <div class="nav-menu">
                        <span class="nav-title">Support</span>
                        <ol>
                            <li>Help center</li>
                            <li>Tutorials</li>
                            <li>API</li>
                            <li>Contact us</li>
                        </ol>
                    </div>
            </section>
            </main>
            <footer>
                <div class="div-line1"></div>
                <div class="address">
                    <div class="footer-img">
                        <a class="socialmedia-icon" href="https:/www.linkedin.com">
                            <img src="../assets/icons/linkedin-logo.png" alt="LinkedIn" width="30px"></a>
                        <a class="socialmedia-icon" href="https:/www.twitter.com">
                            <img src="../assets/icons/twitter-logo.png" alt="Twitter" width="30px"></a>
                        <a class="socialmedia-icon" href="https:/www.facebook.com">
                            <img src="../assets/icons/fb-logo.png" alt="Facebook" width="20px"></a>
                        <a class="socialmedia-icon" href="https:/www.instagram.com">
                            <img src="../assets/icons/instagram-logo.png" alt="Instagram" width="30px"></a>
                        <a class="socialmedia-icon" href="https:/www.github.com">
                            <img src="../assets/icons/github-logo.png" alt="GitHub" width="30px">
                        </a>
                    </div>
                    <div class="location">
                        <div>
                            <p class="address-01">Rosario, Argentina</p>
                        </div>
                        <div class="copyright-item">
                            <p class="address-01">Copyright © 2022 Radium Rocket. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
</html>