@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

body {
    width: 1440px;
    height: auto;
    color:#373867;
}

/** section header **/

header {
    position: relative;
    background-color: #373867;
    width: 100%;
    height: 77px;
}

.container-logo {
    width: 367px;
}

.logo {
    width: 77.79px;
    padding-top: 5px;
    padding-left: 30px;
}

.trackgenix {
    display: inline;
    font-size: 40px;
    font-family: 'roboto';
    font-weight: bold;
    color:white;
    float: right;
    padding-top: 25px;
}

/**section sidebar**/
aside {
    position: sticky;
    background-color: #AACE9B;
    font-family: 'roboto';
    color: #373867;
    height: 900px;;
    width: 184px;
    float: left;
    top: 0;
}

.img-1 {
    position: relative;
    left: -25px;
}

.img-1 li {
    border: none;
    padding: 9px;
    right: 0px;
    top: 16px;
    width: 140px;
    padding-left: 30px;
}

aside h2 {
    font-weight: 700;
    font-family: 'roboto';
    font-size: 14px;
    padding: 9px;
    line-height: 31px;
    border-bottom: 3px solid #373867;
    width: 46px;
    margin-left: 10px;
}

aside ul li {
    font-size: 12px;
    font-family: 'roboto';
    font-weight: 400;
    padding: 9px;
    border-bottom: 1px solid rgba(55, 56, 103, 0.4);
    list-style: none;
    line-height: 26px;
    width: 120px;
    margin: 10px;
}

/**first section**/
.manage-titlepage {
    font-size: 40px;
    font-weight: bold;
    width: 516px;
    height: 94px;
}

.subtitle {
    font-size: 20px;
    padding-top: 20px;
}

main {
    position: relative;
    font-family: 'Roboto';
    padding-top: 50px;
    padding-left: 240px;
}

.manage-image {
    float: right;
}

.first-section {
    display: inline-block;
    width: 1100px;
    height: 489px;

}

.section-title {
    color: #373867;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.funct-title {
    top: -40px;
    display: inline-block;
    width: 516px;
    height: 346px;
}

.main-paragraph {
    padding-top: 50px;
    font-size: 15px;
}

.button {
    position: relative;
    background-color: white;
    border: 1px solid #373867;
    float: right;
    width: 136.46;
    height: 46px;
    top: 20px;
    border-radius: 3px;
}

.div-line {
    border-top: 2px solid #AFAFC2;
    margin-top: 10px;
    padding-bottom: 40px;
    width: 1100px;
}

/**section funcionality**/

.section-functionalities {
    display: inline-block;
    width: 1100px;
    height: 700px;
}

.box-color-funct {
    width: 234px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 48px;
    background-color: #aace9b;
}

.subsection-01 {
    position: relative;
    display: inline-block;
    padding-top: 50px;
    float: left;
}

.subsection-02 {
    position: relative;
    display: inline-block;
    padding-top: 50px;
    float: right;
}

.block-funct {
    width: 523px;
    height: 213px;
}
.functionality-image {
    width: 140px;
    height: 140px;
    padding-right: 12px;
}

.functionality-image {
    width: 140px;
    height: 140px;
    float: left;
}


/**section improvement**/

.box-color-ts {
    width: 700px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 48px;
    background-color: #aace9b;
}

.section-improvement {
    display: inline;
    width: 1100px;
    height: 1487px;
    padding-bottom: 70px;

}

.bold-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.improvement-text {
    font-size: 20px;
}

.sub-improvement01 {
    position: relative;
    display: inline-block;

}

.sub-improvement02 {
    position: relative;
    display: inline-block;
    margin-right: 150.87px;
    float: right;
}

.block-section02 {
    position: relative;
    width: 400px;
    height: 581px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgb(55, 56, 103, 10%);
}

.button-card {
    position: absolute;
    width: 75px;
    height: 38px;
    border-radius: 5px;
    bottom: 20px;
}

.image-cards {
    width: 400px;
    height: 264px;
}

.footer {
    position: relative;
    display: inline-block;
    left: 184px;
    padding: 15px;
}
