@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

body {
    width: 1440px;
    height: auto;
    color:#373867;
}

header {
    position: relative;
    background-color: #373867;
    width: 100%;
    height: 77px;
}

.container-logo {
    width: 367px;
}

.logo {
    width: 77.79px;
    padding-top: 5px;
    padding-left: 30px;
}

.trackgenix {
    display: inline;
    font-size: 40px;
    font-family: 'roboto';
    font-weight: bold;
    color:white;
    float: right;
    padding-top: 25px;
}

aside {
    position: sticky;
    background-color: #AACE9B;
    font-family: 'roboto';
    color: #373867;
    height: 900px;;
    width: 184px;
    float: left;
    top: 0;
}

.img-1 {
    position: relative;
    left: -25px;
}

.img-1 li {
    border: none;
    padding: 9px;
    right: 0px;
    top: 16px;
    width: 140px;
    padding-left: 30px;
}

aside h2 {
    font-weight: 700;
    font-family: 'roboto';
    font-size: 14px;
    padding: 9px;
    line-height: 31px;
    border-bottom: 3px solid #373867;
    width: 46px;
    margin-left: 10px;
}

aside ul li {
    font-size: 12px;
    font-family: 'roboto';
    font-weight: 400;
    padding: 9px;
    border-bottom: 1px solid rgba(55, 56, 103, 0.4);
    list-style: none;
    line-height: 26px;
    width: 120px;
    margin: 10px;
}


.manage-titlepage {
    font-size: 40px;
    font-weight: bold;
    width: 516px;
    height: 94px;
}

.subtitle {
    font-size: 20px;
    padding-top: 40px;
}

main {
    position: relative;
    left: 183px;
    width: 1257px;
    font-family: 'Roboto';
}

.manage-image {
    float: right;
}

.first-section {
    display: inline-block;
    width: 1100px;
}

.section-title {
    color: #373867;
    font-weight: bold;
}

.funct-title {
    top: -40px;
    display: inline-block;
    width: 516px;
}

.main-paragraph {
    padding-top: 50px;
    font-size: 15px;
}

.button {
    position: relative;
    background-color: white;
    left: 370px;
    border: 1px solid #373867;
    width: 136.46;
    height: 46px;
    padding: 20px;
    border-radius: 3px;
    text-align: center;
}

.div-line {
    border-top: 2px solid #AFAFC2;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1100px;
}


.section-functionalities {
    display: inline-block;
    width: 1100px;
    height: 700px;
}

.subsection-01 {
    display: inline-block;
    float: left;
}

.subsection-02 {
    display: inline-block;
    float: right;
}

.block-funct {
    width: 523px;
    height: 213px;
}

.functionality-image {
    width: 140px;
    height: 140px;
    display: inline;
    padding: 0px;
    float: left;
}

.section-improvement {
    display: inline;
    width: 960px;
    height: 1100px;
    padding-bottom: 70px;

}

.bold-title {
    font-weight: bold;
}

.sub-improvement01 {
    display: inline-block;
    width: 439px;
    height: 621px;
    padding: 40px;
}

.sub-improvement02 {
    display: inline-block;
    width: 439px;
    height: 621px;
    padding: 40px;
    float: right;
}

.block-section02 {
    padding: 20px;
    background-color: #EBEBF0;
    width: 440px;
}

.image-cards {
    width: 400px;
    height: 264px;

}

.footer {
    position: relative;
    display: inline-block;
    left: 184px;
    padding: 15px;
}
