footer {
    margin: 0 20px 0 20px;
    text-align: center;
}

.footer-img {
    display: flex;
    justify-content: space-around;
    padding: 0 px;
}



.address-01 {
    margin: 20px 0;
}

@media screen and (min-width: 480px) {
    
    .footer-img {
        justify-content: flex-start;
        
    }

    .footer-img, .socialmedia-icon {
        padding-right: 20px;
    }

    .location {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) {
    footer {
        margin-left: 220px;
}
