footer {
    margin: 0 0 0 20px;
    padding-right: 20px;
}

.footer-img {
    display: flex;
    justify-content: space-around;
    padding: 0 px;
}

.address-01 {
    margin: 20px 0;
    text-align: center;
}

.div-line1 {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #AACE9B;
    margin-bottom: 20px;
}


@media screen and (min-width: 480px) {

    .footer-img {
        justify-content: flex-start;
    }

    .footer-img, .socialmedia-icon {
        padding-right: 20px;
    }

    .address-01 {
        text-align: left;
        margin: 20px 0 0 0;
    }

    .copyright-item {
        text-align: left;
    }

}

@media screen and (min-width: 769px) {
    footer {
        height: 50px;
        margin-left: 220px;
        margin-bottom: 40px;
    }
    .address {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer-img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 254px;
    }

    .address-01 {
        display: flex;
        justify-content: end;
    }

    .copyright-item {
        max-width: 100%;
        display: flex;
        justify-content: end;
        align-content: flex-end;
    }
}
