header {
    top: 0;
    position: sticky;
    background-color: #373867;
    width: 100%;
    height: 51px;
    padding: 1% 2%;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    justify-content: center;
}