aside {
        display: none;
        background-color: #aace9b;
        width: 164px;
        height: 800px;
        padding: 20px;
        font-size: 12px;
}

aside>span {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
}

.span-line {
    background-color: #373867;
    width: 45px;
    height: 3px;
    margin: 20px 0;
    border-radius: 5px;
}

.span-subline {
        background-color: #7C9286;
        width: 160px;
        height: 1px;
        margin: 20px 0;
}

.aside-option01 {
        margin: 10px 0;
}

.box-contact {
        display: flex;
        margin: 20px 0;
}

.contact-p {
        margin-left: 15px;
}

.street-house {
        width: 18px;
        height: 16px;
}